[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
matplotlib="*"
descartes="*"
sphinx="*"
ipykernel="*"
jupyter="*"
toree="*"
pytest="*"
javaobj-py3="==0.3.0" 

[packages]
findspark="*"
pandas="*"
geopandas="==0.5.0"
pyspark="==3.2.2"
jupyter = "*"
toree = "*"

[requires]
python_version = "3.6"
